* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --cor-branca: #ffffff;
  --cor-cinza: #e5e5e5;
  --cor-preto: #121214;
  --cor-azul: #42d3ff;
  --cor-branco-form: #fafafc;
  --cor-cinza-escuro: #4e4958;
  --cor-linha: #e6e6f0;
  --cor-cinza-escuro-span: #6c6a71;
}

body,
input,
button,
select,
textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1.6rem;

  background: var(--cor-cinza);
}

body::before {
  content: '';
  width: 100%;
  height: 368px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background: var(--cor-preto);
}

.page {
  width: 736px;
  margin: 0 auto;
}

header {
  width: 319px;

  margin-top: 74px;
}

header h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 42px;
  color: var(--cor-branca);

  margin-bottom: 24px;
}

header p {
  font-family: 'Archivo', sans-serif;
  line-height: 26px;

  color: var(--cor-azul);
}

form {
  margin-top: 38px;
  background: var(--cor-branco-form);
  border-radius: 8px;
  min-height: 300px;

  padding: 64px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  width: 100%;

  border-bottom: 1px solid var(--cor-linha);
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 1.4rem;
  line-height: 24px;

  color: var(--cor-cinza-escuro);

  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 12px;

  font-size: 12px;
  line-height: 20px;

  color: #8f8d95;
}

.input-wrapper label span:hover {
  color: var(--cor-cinza-escuro-span);
}

.input-wrapper input,
.input-wrapper textarea {
  background: var(--cor-branco-form);

  border: 1px solid var(--cor-linha);
  border-radius: 8px;

  height: 56px;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  color: var(--cor-cinza-escuro-span);
}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
}
